cloud_id                 = "123"
folder_id                = "123"
zone                     = "ru-123-a"
image_id                 = "123"
public_key_path          = "~/.ssh/key.pub"
private_key_path         = "~/.ssh/key"
subnet_id                = "123"
service_account_key_file = "key.json"
app_disk_image           = "123"
db_disk_image            = "123"
bucket_name              = "123"
access_key               = "123"
secret_key               = "13"
